<%= form_with(model: embassy) do |form| %>
  <% if embassy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(embassy.errors.count, "error") %> prohibited this embassy from being saved:</h2>

      <ul>
        <% embassy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.number_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.number_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :coordinates %>
    <%= form.text_field :coordinates %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
